<html>
<head>
<style>
  body { margin: 0; }
</style>
</head>
<body>

<ul>
  <li><%= link_to 'Contact Me', contact_path %></li>
  <li><%= link_to 'Portfolio', portfolio_path %></li>
  <li><%= link_to 'Home', root_path %></li>
</ul>

</body>
</html>
